::ng-deep .mat-mdc-checkbox {
    .mdc-checkbox__native-control:focus+.mdc-checkbox__ripple , .mdc-checkbox:hover>.mdc-checkbox__ripple {
      background-color: transparent !important;
  }
    .mdc-checkbox__background {
        width: 22px !important;
        height: 22px !important;
        border: 1px solid #CFD3D4 !important;
        border-radius: 5px !important;
    }
    &.mat-mdc-checkbox-checked {
        // .mdc-checkbox__background {
        //     outline: 2px solid #6D7DCD !important;
        //     border: 1px solid #fff !important;
        // }
        .mdc-checkbox__checkmark {
            top: 3px;
            left: 3px;
            width: 66%;
        }
    }
  }