<div class="app-content-container">
    <mat-drawer-container class="mat-drawer-details-container">
        <mat-drawer mode="side" opened>
            <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content class="mat-drawer-inner-container">
            <div class="router-outlet-container my-4 mx-2">
                <div class="container-fluid">
               <router-outlet></router-outlet>
            </div>
           </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>