.app-content-container {
    margin-top: 60px;
    .mat-drawer-details-container {
    background-color: #f9f9f9;
        height: calc(100vh - 120px);
        .mat-drawer-side {
            border: none;
        }
        ::ng-deep .mat-drawer .mat-drawer-inner-container {
                overflow: hidden !important;
            }
        }
        ::ng-deep .mat-drawer-content.mat-drawer-inner-container {
            overflow: auto;
            width: auto;
        }
    }