<div class="sidebar-container">
    <div class="sidebar bg-white d-flex flex-column justify-content-between h-100">
         <div class="menu-list-details-container">
            <div class="menu-list-content-container pt-4">
                @for (item of menuList; track $index;let i = $index) {
                 <div [routerLink]="item.routerPath" [ngClass]="{'active-menu': activeMenu == i}" class="menu-details d-flex align-items-center gap-4 p-4 cursor-pointer" (click)="selectMenu(i)">
                      <img [src]="item.imgPath" [alt]="item.alt">
                      <p class="m-0 fw-semibold f-16">{{item.title}}</p>
                 </div>
              }
             </div>
         </div>
        <div class="logout-container">
             <div class="logout-details d-flex align-items-center gap-4 p-4 cursor-pointer">
                <img src="/Components/sidebar/logout.svg" alt="logout">
                <p class="m-0 fw-semibold f-16">Logout</p>
             </div>
        </div>
    </div>
</div>