$m2-primary: (
  50: #eeebff,
  100: #dddbfe,
  200: #ccc9fe,
  300: #bbb7fd,
  400: #aba6fd,
  500: #9a94fc,
  600: #8982fc,
  700: #7870fb,
  800: #675efb,
  900: #564cfa,
  A100: #b5dbff,
  A200: #82c3ff,
  A400: #4faaff,
  A700: #359eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-accent: (
  50: #eeebff,
  100: #dddbfe,
  200: #ccc9fe,
  300: #bbb7fd,
  400: #aba6fd,
  500: #9a94fc,
  600: #8982fc,
  700: #7870fb,
  800: #675efb,
  900: #564cfa,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-warn: (
  50: #fbe9ec,
  100: #f6d4d8,
  200: #f2bec5,
  300: #eda9b2,
  400: #e9939f,
  500: #e57d8b,
  600: #e06878,
  700: #dc5265,
  800: #d73d51,
  900: #d3273e,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
